.miui-table {
  position: relative;
  &__box {
    overflow-y: scroll;
  }
  &__header {
    width: 100%;
    position: absolute;
    top: 0;
    overflow-y: hidden;
    overflow-x: auto;
    z-index: 999999;
  }
  &__scroll {
    width: 100%;
    overflow-x: scroll;
    &_left-fixed {
      table {
        & > thead > tr:first-of-type > th {
          &:first-of-type {
            color: transparent;
          }
        }
        & > tbody > tr > td {
          &:first-of-type {
            color: transparent;
          }
        }
      }
    }
    &_right-fixed {
      table {
        & > thead > tr:first-of-type > th {
          &:last-of-type {
            color: transparent;
          }
        }
        & > tbody > tr > td {
          &:last-of-type {
            color: transparent;
          }
        }
      }
    }
  }
  &__left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    &__outer {
      box-sizing: content-box;
      padding-right: 20px;
      overflow-y: hidden;
    }
    &__inner {
      background-color: #ffffff;
      // box-shadow: 0px 0 8px rgba(128, 128, 128, 0.5);
    }
  }
  &__right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    &__outer {
      box-sizing: content-box;
      padding-left: 20px;
      overflow-y: hidden;
    }
    &__inner {
      background-color: #ffffff;
      // box-shadow: 0px 0 8px rgba(128, 128, 128, 0.5);
    }
  }

  &__vertical {
    position: relative;
    height: 100%;
    overflow: hidden;
    &__main {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      &_top-fixed {
        thead {
          border: none;
          tr {
            background-color: #ffffff;
            th > span {
              color: #ffffff !important;
            }
          }
        }
      }
    }
    &__top-fixed {
      background-color: #ffffff;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}